.DS_Store
dogImages/
lfw/
saved_models/weights.best.from_scratch.hdf5
saved_models/weights.best.vgg16.hdf5
saved_models/weights.best.VGG16.hdf5
saved_models/weights.best.resnet50_total.hdf5
saved_models/weights.best.top_model.hdf5
.ipynb_checkpoints/
bottleneck_features/DogVGG16Data.npz
